input::-webkit-inner-spin-button{
    height: 3.0vh;
    text-align: center;
    width:20%;
    appearance: textfield; 
    -webkit-appearance: none; ;
}
input[type="checkbox"]{
    height: 1rem;
    width:5%;
}
textarea{
    height: auto;
    padding:1rem;
    padding-top:0;
    width:40%;
    text-align: center;
}
select{
    height: 3.0vh;
    width:20%;
}
.container{
    margin:10px 0;
    width:100%;
    padding:20px;
    align-items: center;
    display: flex;
    box-shadow: 5px 5px 12px #222;
    border-radius:10px;
}
.container_type{
    display: flex;
    align-items: center;
}
.button_type{
    display: flex;
    width:60px;
    cursor: pointer;
    height: 3.0vh;
    margin:5px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 3px 3px #555;
}
.button_type:hover{
    background-color: aquamarine;
}
.button_type:active{
    transform:translateY(3px);
    box-shadow: 0 0;
}
.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 4vh;
    margin:5px;
}
.button_enviar{
    cursor: pointer;
    margin:8px;
    padding:5px;
    border: .5px solid #800030;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 3.5vh;
    border-radius: 5px;
    background-color: #c42013;
    font-size: 17px;
    box-shadow: 3px 3px #800030;
}
.button_enviar:active{
    transform: translateY(3px);
    box-shadow: 0 0;
}
.button_enviar:hover{
    background-color: red;
    
}
.button_volver{
    cursor: pointer;
    margin:8px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 3.4vh;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 3px 3px #555;
    user-select: none;
}
.button_volver:hover{
    background-color: aquamarine;
}
.button_volver:active{
    transform: translateY(3px);
    box-shadow: 0 0;
}
@media(max-width:480px)
{
    .container{
        margin:10px 0;
        width:100%;
        padding:20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 12px #222;
        border-radius:10px;
    }
    .textArea_inComponent{
        height: auto;
        width:100%;
        text-align: center;
        border:none;
        border-bottom:2px solid cadetblue;
        margin-top:0.5rem;
    }
    .textArea_inComponent:focus-within{
        height: auto;
        width:100%;
        text-align: center;
        border:none;
        outline: none;
        border-bottom:2px solid blue;
        margin-top:0.5rem;
    }
    .container_button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin:5px;
    }
    .input_inComponent{
        width:90%;
        height: 2rem;
        appearance: textfield;
        border:none;
        border-bottom: 2px solid cadetblue;
    }
    .input_inComponent:focus-within{
        width:90%;
        height: 3rem;
        appearance: textfield;
        outline: none;
        border-bottom: 2px solid blue;
    }
    .select_inComponent{
        width:90%;
        height: 2rem;
        text-align: center;
      }
      .container_type{
        display: flex;
        flex-direction: column;
        width:100%;
        height:auto;
      }
      .button_type{
        width:50%
      }
    .button_volver{
        cursor: pointer;
        margin:8px;
        padding:5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 3.4vh;
        border-radius: 5px;
        background-color: whitesmoke;
    }
    
}
@media(min-width:480px) and (max-width:1024px)
{
    .container{
        margin:10px 0;
        width:80%;
        padding:20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 12px #222;
        border-radius:10px;
    }
    
    .textArea_inComponent{
        height: auto;
        width:100%;
        text-align: center;
        border:none;
        border-bottom:2px solid cadetblue;
        margin-top:0.5rem;
        font-size:1rem;
    }
    .textArea_inComponent:focus-within{
        height: auto;
        width:100%;
        text-align: center;
        border:none;
        outline: none;
        border-bottom:2px solid blue;
        margin-top:0.5rem;
        font-size: 1.2rem;
    }
    .container_button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin:5px;
    }
    .input_inComponent{
        width:90%;
        height: 2rem;
        font-size:1rem;
        appearance: textfield;
        border:none;
        border-bottom: 2px solid cadetblue;
    }
    .input_inComponent:focus-within{
        width:90%;
        height: 3rem;
        appearance: textfield;
        font-size:1.2rem;
        outline: none;
        border-bottom: 2px solid blue;
    }
    .select_inComponent{
        width:90%;
        height: 2rem;
        text-align: center;
        font-size:1rem;
      }
      .select_inComponent:focus-within{
        font-size: 1.1rem;
      }
      .container_type{
        display: flex;
        flex-direction: column;
        width:100%;
        height:auto;
      }
      .button_type{
        width:50%
      }
    .button_volver{
        cursor: pointer;
        margin:8px;
        padding:5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:40%;
        height: 2rem;
        border-radius: 5px;
        background-color: whitesmoke;
    }
    .button_enviar{
        width:40%;
        height:2rem;
    }
    
}