
.content_loginPage{
    background-image:url('../../assets/recursos/login-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.loginPage{
    width:100%;
    backdrop-filter: blur(5px);
}
.loginPage,.form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.content_form{
    width:500px;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_title{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
}
.loginPage_title{
    text-transform: uppercase;
    font-size:70px;
    font-family:Arial, Helvetica, sans-serif;   
    color:white;
}
.contenedor_botones{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    margin-top:8px;
    margin-bottom:20px
}
.input_login{
    width: 90%;
    height: 5vh;
    background: white;
    border-radius: 5px;
    border:1px solid;
    font-size:25px;
    text-align: center;
}
.boton_login{
    width:45%;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
    cursor: pointer;
    font-size: 20px;
}
.boton_login:hover{
    background-color: orange;
}
.boton_login:active{
    transform: translateY(5px);
    box-shadow: 0px 0px 0px;
}
.login_mensaje{
    color:white;
    text-align: center;
    font-size:22px;
}
@media (max-width:480px){
    .content_form{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .loginPage{
        width: 100%;  
    }
    .content_title{
        width: 100%;
    }
    .loginPage_title{
        font-size: 7vh;
        text-align: center;
    }
    .input_login{
        width: 75%;
        font-size: 1.3rem;
        height: 3rem;
    }
    .contenedor_botones{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .boton_login{
        width: 60%;
        margin: 5px;
        height: 3rem;
    }
    .login_mensaje{
        width: 100%;
        font-size: 14px;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:480px) and (max-width:1024px){
    .input_login{
        width: 75%;
        font-size: 1.3rem;
        height: 3rem;
    }
    .boton_login{
        width: 60%;
        margin: 5px;
        height: 3rem;
    }
}