.coins_container{
    width:50%;
    display: flex;
    align-items: center;
    margin:10px;
   border-radius: 10px;
   border:1px solid #333;
   box-shadow: 5px 5px #555;
}
.title_coins{
    width:100%;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.text_info{
    margin-left:5px;
}
.text_coins{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.select_container
{
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
}
.title_text_selec
{
    width:50%;
    display: flex;
    flex-direction: column;
}
.select_coins{
    width:250px;
    margin:20px;
}
.coin_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:400px;
    margin:10px;

}
.coin_container{
    width:350px;
}
.info_coin_container{
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info_coin_container p {
    width: 100%;
    margin: 5px;
    font-size: 1.2rem;
}

@media(max-width:480px)
{
    .coins_container{
        width:100%;
        height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin:5px auto;
       border-radius: 10px;
       border:1px solid #333;
       box-shadow: 3px 3px #555;
    }
    .title_text_selec
    {
    width:100%;
    display: flex;
    flex-direction: column;
    }
    .text_info{
        width:54%;
    }
    .text_coins{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top:1rem;
    }
    .select_coins{
        width:85%;
        margin:8px;
        margin:none;
        background-color: white;
        height:3.5vh;
        border:none;
        border-bottom: 3px solid black;
        text-align: center;
    } 
    .info_coin_container{
        height: auto;
        width:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info_coin_container p {
        width: 100%;
        margin: 3px;
        font-size:15px;
    }
    .message_no_select_coin{
        text-align: center;
    }

}
@media(min-width:481px) and (max-width:767px)
{
    .coins_container{
        width:100%;
        height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin:5px auto;
       border-radius: 10px;
       border:1px solid #333;
       box-shadow: 3px 3px #555;
    }
    .title_text_selec
    {
    width:100%;
    display: flex;
    flex-direction: column;
    }
    .text_info{
        width:54%;
    }
    .text_coins{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top:1rem;
    }
    .select_coins{
        width:85%;
        margin:8px;
        margin:none;
        background-color: white;
        height:auto;
        border:none;
        border-bottom: 3px solid black;
        text-align: center;
    } 
    .info_coin_container{
        height: auto;
        width:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info_coin_container p {
        width: 100%;
        margin: 3px;
        font-size:15px;
    }
    .message_no_select_coin{
        text-align: center;
    }

}
@media (min-width:769px)  and (max-width:1023px)
{
    .coins_container{
        width:100%;
        height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin:5px auto;
       border-radius: 10px;
       border:1px solid #333;
       box-shadow: 3px 3px #555;
    }
    .title_text_selec
    {
    width:100%;
    display: flex;
    flex-direction: column;
    }
    .text_info{
        width:68%;
    }
    .text_coins{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top:1rem;
    }
    .select_container
    {
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
    }
    .select_coins{
        width:85%;
        margin:8px;
        margin:none;
        background-color: white;
        height:auto;
        border:none;
        border-bottom: 3px solid black;
        text-align: center;
        font-size:1rem;
    } 
    .info_coin_container{
        height: auto;
        width:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info_coin_container p {
        width: 100%;
        margin: 3px;
        font-size:15px;
    }
    .message_no_select_coin{
        text-align: center;
    }

}
@media(min-width:1024px) and  (max-width:1400px)
{
    .coins_container{
        width:55%;
        display: flex;
        align-items: center;
        margin:10px;
       border-radius: 10px;
       border:1px solid #333;
       box-shadow: 5px 5px #555;
    }
    .title_coins{
        width:auto;
        display: flex;
        font-size: 1.5rem;
        justify-content: start;
        align-items: center;
        margin:1rem
    }
    .text_info{
    margin-left:5px;
    width:80%;
    }
    .text_coins{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: start;
        margin-left:0;
    }
    .check_coins
    {
        margin-left:1rem;
    }
    .select_coins{
        width:100%;
        margin: 1rem 0.5rem;
        font-size: 1rem;
        text-align: center;
    }
}
@media(min-width:1401px) and (max-width:1700px)
{
    .coins_container{
        width:70%;
        display: flex;
        align-items: center;
        margin:10px;
       border-radius: 10px;
       border:1px solid #333;
       box-shadow: 5px 5px #555;
    }
    .title_coins{
        width:100%;
        display: flex;
        font-size: 1.5rem;
        justify-content: start;
        align-items: center;
        margin:10px;
    }
    .text_info{
        width:92%;
    }
    .select_container
{
    width:100%;
    height: auto;
    display:flex;
    justify-content: start;
}
    .select_coins{
        width:50%;
        margin:10px;
    }
}