.container_button_add{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 5vh;
}

.boton_generic_add{
  width: 35%;
  height: 4vh;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  font-size: 17px;
  background-color: #0d6efd;
  box-shadow: 0 5px 0 dodgerblue;
  color: white;
  cursor: pointer;
}