.container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_edit_card{
    width:100%;
}

.card{
    list-style-type: none;
    width:100%;
    align-items: center;
    padding:10px;
    margin:7px;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 12px #222;
}
.monto_fecha{
    display: flex;
    justify-content: space-between;
    width:100%
}
.montoGasto{
    width:17%;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:red;
    height: 35px;
    margin-right: 0.5%;
}

.montoIngreso{
    width:15%;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:rgb(0, 128, 53);
    height: 29px;
    
}


.tipo{
    width:25%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.descripcion{
    width:50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.fecha{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
    height:4vh;
    width:100%
}
.icon_saldo{
    width:26px;
    height: 25px;
    cursor: pointer;
  }
.button_deleted{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5vh;
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    margin:7px;
    width:10%;
    transition: .5;
    background-color: #c42013;
    border: 3px #800030;
    color:white;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    box-shadow: 3px 3px #800030;
}
.button_edit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5vh;
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 1px;
    margin:7px;
    width:10%;
    transition: .5;
    cursor: pointer;
    background-color: aliceblue;
    text-decoration: none;
    user-select: none;
    box-shadow: 3px 3px #555;
}
.button_edit:hover{
    background-color: aquamarine;
}
.button_edit:active{
    transform: translateY(5px);
    box-shadow: 0 0 ;
}
.button_deleted:hover{
    background-color: red;
}
.button_deleted:active{
    transform: translateY(5px);
    box-shadow: 0 0 ;
}
@media(max-width:768px)
{
    .card{
        list-style-type: none;
        width:95%;
        align-items: center;
        padding:10px;
        margin:7px;   
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 12px #222;
    }
    .monto_fecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%
    }
    .montoGasto{
        width:100%;
        font-size: 20px;
        display: flex;
        align-items: center;
        color:red
    }
    .montoIngreso{
        width:100%;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color:rgb(0, 128, 53);
        height: 29px;
        
    }
    .tipo{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px 0;
    }
    .descripcion{
        width:100%;
        display: flex;
        justify-content: center;
        margin:10px auto;
        align-items: center;
        text-align: center;
    }
    .fecha{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .container_button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:5px;
        height:auto;
        width:100%
    }
    .button_deleted{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        align-items: center;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        margin:7px;
        width:50%;
        transition: .5;
        background-color: #1192ee;
        border: 3px #800000;
        cursor: pointer;
        height: 3vh;
    }
    .button_edit{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        align-items: center;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        border: 1px;
        margin:7px;
        width:50%;
        transition: .5;
        cursor: pointer;
        background-color: aliceblue;
        height: 3vh;
    }

}
@media(min-width:768px) and (max-width:1024px)
{
    .card{
        list-style-type: none;
        width:95%;
        align-items: center;
        padding:10px;
        margin:7px;   
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 12px #222;
    }
    .monto_fecha{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }
    .montoGasto{
        width:30%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        color:red;
        height: auto;
    }
    .montoIngreso{
        width:30%;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color:rgb(0, 128, 53);
        height: 29px;
        
    }
    .tipo{
        width:15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px 0;
        font-size: 1rem;
        height: auto;
    }
    .descripcion{
        width:25%;
        display: flex;
        justify-content: center;
        margin:5px 5px;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        height: auto;
    }
    .fecha{
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        height: auto;
    }
    .container_button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:5px;
        height:auto;
        width:50%
    }
    .button_deleted{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3vh;
        align-items: center;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        margin:7px;
        width:50%;
        transition: .5;
        background-color: #1192ee;
        border: 3px #800000;
        cursor: pointer;
    }
    .button_edit{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3vh;
        align-items: center;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        border: 1px;
        margin:7px;
        width:50%;
        transition: .5;
        cursor: pointer;
        background-color: aliceblue;
    }

}