.container_filterMenu{
  width:100%;
  display:flex;
  justify-content: center;
}
.filterMenu {
  visibility: visible;
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 3px 3px 15px #222;
  margin: 10px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
label {
  margin: 0 10px;
}
select{
    width:auto;
    height: 2.5vh;
}
.search_button {
  margin-left: 3%;
  font-size: 15px;
  width: 9%;
  height: 4vh;
  border-radius: 5px;
  border: 2px solid white;
  color:white;
  box-shadow: 0 2px 0 cadetblue;
  background-color: darkcyan;
  cursor: pointer;
}
.search_button:hover{
    background-color: darkcyan;
    color:black;
}
.search_button:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0 #222;
}
@media (max-width: 768px)  {

  .container_filterMenu{
    width:100%;
    display:flex;
    justify-content: end;
  }
  .filterMenu {
    display: flex;
    align-items: end;
    width: 70%;
    height: auto;
    border-radius: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .input_filter{
    width: 100%;
    height: 3vh;
    border: 2px solid #333;
    border-radius: 5px;
  }
  .input_select_filter{
    width: 100%;
    height: 3vh;
    text-align: center;
    border:2px solid #333;
  }
  .search_button{
    width:100%;
    margin:15px 5px;
    height: 3.5vh;
  }
  label {
    margin: 6px;
    height: auto;
  }
  .container_img_search{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right:5px;
  }
  .img_search{
    cursor: pointer;
    padding: 5px;
    margin:10px 10px 0 0;
    border-radius: 50%;
    background-color:#1192ee;
  }
  .container_button_onHide{
    width:100%;
    display: flex;
    justify-content: end;
  }
  .button_onHide{
    margin-right: 5px;
    width:25%;
    height: 2.6vh;
    border-radius: 5px black;
  }
}
@media (min-width:769px) and (max-width: 1024px)  {

  .container_filterMenu{
    width:100%;
    display:flex;
    justify-content: center;
  }
  .filterMenu {
    display: flex;
    align-items: end;
    width: 70%;
    height: auto;
    border-radius: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .input_filter{
    width: 100%;
    height: 3vh;
    border: 2px solid #333;
    border-radius: 5px;
  }
  .input_select_filter{
    width: 100%;
    height: 3vh;
    text-align: center;
    border:2px solid #333;
  }
  .search_button{
    width:100%;
    margin:15px 5px;
    height: 3.5vh;
  }
  label {
    margin: 6px;
    height: auto;
  }
  .container_img_search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right:5px;
  }
  .img_search{
    cursor: pointer;
    padding: 5px;
    margin:10px 10px 0 0;
    border-radius: 50%;
    background-color:#1192ee;
  }
  .container_button_onHide{
    width:100%;
    display: flex;
    justify-content: end;
  }
  .button_onHide{
    margin-right: 5px;
    width:25%;
    height: 2.6vh;
    border-radius: 5px black;
  }
}
@media(min-width:1025px) and (max-width:1700px)
{
  .container_filterMenu{
    width:100%;
    display:flex;
    justify-content: center;
  }
  .filterMenu {
    display: flex;
    align-items: end;
    width: 70%;
    height: auto;
    border-radius: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .input_filter{
    width: 100%;
    height: 4vh;
    border: 2px solid #333;
    border-radius: 5px;
  }
  .input_select_filter{
    width: 100%;
    height: 4vh;
    text-align: center;
    border:2px solid #333;
  }
  .search_button{
    width:100%;
    margin:15px 5px;
    height: 4.5vh;
  }
  label {
    margin: 6px;
    height: auto;
  }
  .container_img_search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right:5px;
  }
  .img_search{
    cursor: pointer;
    padding: 5px;
    margin:10px 10px 0 0;
    border-radius: 50%;
    background-color:#1192ee;
  }
  .container_button_onHide{
    width:100%;
    display: flex;
    justify-content: end;
  }
  .button_onHide{
    margin-right: 5px;
    width:25%;
    height: 3vh;
    border-radius: 5px black;
  }
}