.container_dashboard{
    width:100%
}
.container_content_dashboard{
    width:100%
}
.container_block{
    width:100%;
    display: flex;
   
}
.container_coins_value{
    display: flex;
    justify-content: flex-start;
}
@media (max-width:1024px ){
    .container_block{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-content: center;
    }
}